*{
	
padding:0px;
margin:0px;

}


h3,h4,h5{
	
color:#00f;
font-size:27px;
text-transform: uppercase;
}

a{

text-decoration-color:green;
text-align:center;
}

p{

text-indent: 20px;
word-spacing: 5px;
font-family:"georgia";	
}

div p em {

	color:#0f0;
}